[submodule "doom-emacs"]
	path = doom-emacs
	url = https://github.com/hlissner/doom-emacs
	branch = develop
[submodule "prelude"]
	path = prelude
	url = https://github.com/bbatsov/prelude.git
[submodule "graphene"]
	path = graphene
	url = https://github.com/rdallasgray/graphene.git
[submodule "purcell"]
	path = purcell
	url = https://github.com/purcell/emacs.d.git
[submodule "spacemacs"]
	path = spacemacs
	url = https://github.com/syl20bnr/spacemacs.git
	branch = develop
