[submodule "doom-emacs"]
	path = doom-emacs
	url = https://github.com/hlissner/doom-emacs
	branch = develop
[submodule "prelude"]
	path = prelude
	url = https://github.com/bbatsov/prelude.git
[submodule "graphene"]
	path = graphene
	url = https://github.com/rdallasgray/graphene.git
[submodule "purcell"]
	path = purcell
	url = https://github.com/purcell/emacs.d.git
[submodule "spacemacs"]
	path = spacemacs
	url = https://github.com/syl20bnr/spacemacs.git
	branch = develop
[submodule "centaur"]
	path = centaur
	url = https://github.com/seagle0128/.emacs.d
[submodule "tycho"]
	path = tycho
	url = https://github.com/tychoish/.emacs.d
[submodule "nano"]
	path = nano
	url = https://github.com/rougier/nano-emacs
[submodule "sacha-chua"]
	path = sacha-chua
	url = https://github.com/sachac/.emacs.d
	branch = gh-pages
